doctype html
html
  head
    meta(content='width=device-width, initial-scale=1', name='viewport')
    link(rel='stylesheet', href='styles.css')
    title= title
  body(background='funky-lines.png')
    .sidenav
      a(href="javascript:alert('Because%20why%20not?');") Why?
      a(href='https://cloud.google.com/vision/') How?
    .main
      center
        h1 Get that text
        p
          | Do you want to copy text but you can't highlight it? Is it in a jpeg or png? Then don't worry, we will give you a easy copiable version of the text you want!
        form(action='/extractText' method='POST' enctype='multipart/form-data')
          p
            | Please specify a file, or a set of files:
            br
            input(name='datafile', type='file', accept='image/png,image/jpeg')
          div
            input(type='submit', value='Let the magic happen')
        .footer
          p Created by: then00bs, Southampton 2018

