body {
    font-family: 'Open Sans';
 }

 .sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(./green_dust_scratch.png);
    overflow-x: hidden;
    padding-top: 0%;
 }

 .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
 }

 .sidenav a:hover {
    color: #ffffff;
 }

 .main {
     margin-left: 20%; /* Same as the width of the sidenav */
     margin-right: 20%;
     font-size: 20px; /* Increased text to enable scrolling */
     padding: 0px 10px;
 }
 
 .footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: white;
 color: black;
 text-align: center;
 font-size: 11px;
 }

 @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
 }